@import "../../styles/constants.scss";

.services {
  width: 100%;
  margin: 0.6rem auto;
  padding-left: 0.4rem;

  .headingTop {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    .bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 23px;
        font-weight: 500;
        color: #3c3b3b;
      }

      button {
        @include button($width: 10.7rem, $height: 2.8rem);
        font-size: 16px;
        gap: 10px;
      }
    }
  }

  .cards {
    width: 100%;
    margin-top: 2.4rem;
    padding-bottom: 6rem;

    .card {
      width: 100%;
      padding: 9px 11px;
      border-radius: 16px;

      header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #3c3b3b;
        padding-bottom: 11px;

        .left {
          display: flex;
          align-items: center;
          gap: 9px;

          p {
            color: $textSecondary;
            font-size: 19px;
            font-weight: 400;
          }

          svg {
            color: $primary;
            font-size: 20px;
            cursor: pointer;
          }
        }

        .icon {
          color: $primary;
          font-size: 20px;
          cursor: pointer;
          margin-right: 4px;
        }
      }

      .tags {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
        margin: 10px 0;
        margin-top: 15px;

        .tag {
          @include flexCenter;
          background-color: $primaryLight;
          color: #fff;
          border-radius: 200px;
          padding: 4px 14px;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .user {
        width: 100%;
        display: flex;
        gap: 11px;
        align-items: center;
        margin: 17px 0;
        margin-bottom: 13px;

        svg {
          font-size: 20px;
          color: $primaryLight;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.3px;
        }
      }

      .timeInfo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        margin-top: 0px;
        border-bottom: 1px solid #3c3b3b;
        padding-bottom: 14px;

        .left {
          display: flex;
          align-items: center;
          gap: 11px;

          svg {
            color: $primaryLight;
            font-size: 21px;
          }

          span {
            font-size: 16px;
            font-weight: 400;
          }
        }

        .right {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 5px;
        margin-top: 12px;

        svg {
          color: $primaryLight;
          font-size: 21px;
        }

        p {
          font-size: 19px;
          font-weight: 400;
          color: $textSecondary;
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding-left: 0;

      .headingTop {
        h1 {
          font-size: 28px;
        }

        .bottom {
          justify-content: flex-end;

          button {
            height: 2.5rem;
            width: 9.5rem;
            gap: 5px;
          }
        }
      }

      .cards {
        margin-top: 2.1rem;
        gap: 1.2rem;
        padding-bottom: 5rem;
      }
    }
  }
}

.errorSpan {
  font-size: 0.82rem;
  color: $error;
  margin-top: -8px;
}

//   Add New Service
.addService {
  width: 100%;
  margin: 0.7rem auto;

  .heading {
    font-size: 28px;
    font-weight: 500;
  }

  form {
    width: 100%;
    margin-top: 2.5rem;
    padding-bottom: 6rem;

    .inputContainer {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.9rem;

      label {
        font-size: 18px;
        font-weight: 500;
        color: #212121;
      }

      .input {
        position: relative;
        width: 100%;
      }

      // Choose Profile Pic
      .profilePic {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5rem;

        .detail {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          .left {
            width: 100%;
            h4 {
              font-size: 18px;
              font-weight: 500;
              color: #212121;
              margin-bottom: 0px;
            }

            span {
              color: gray;
              font-weight: 500;
              font-size: 0.84rem;
              letter-spacing: 0.3px;
            }
          }

          .right {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 3rem;
            margin-top: 1rem;

            .profilePreview {
              background-color: #e8e6e6;
              width: 7rem;
              height: 7rem;
              border-radius: 50%;
              font-size: 0.7rem;
              text-align: center;
              font-weight: 500;
              color: #212121;
              letter-spacing: 0.9px;
              @include flexCenter;
              border: 2px solid #fff;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
              position: relative;
              object-fit: cover;

              p{
                max-width: 85%;
                margin: auto;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }

              svg {
                position: absolute;
                bottom: -2.3%;
                right: 3.5%;
                font-size: 1.55rem;
                color: #000;
              }
            }

            .upload {
              width: calc(95% - 10rem);
              height: 9.8rem;
              border-radius: 14px;
              border: 1px solid #e8e6e6;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: all 0.3s;
              padding: 10px 0;

              &:hover {
                background-color: #f7f7f7;
                transition: all 0.3s;
              }

              .icon {
                width: 2.5rem;
                height: 2.5rem;
                background-color: #e8e6e6;
                border-radius: 50%;
                @include flexCenter;

                svg {
                  font-size: 1.1rem;
                }
              }

              p {
                font-size: 0.71rem;
                color: gray;
                font-weight: 500;
                letter-spacing: 0.3px;
                max-width: 80%;
                margin: 10px auto;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;

                span:nth-child(1) {
                  font-weight: 700;
                  color: #3a3a3a;
                  font-size: 0.86rem;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      margin-top: 1.8rem;

      button {
        @include button($width: 10.5rem, $height: 2.7rem);
        font-size: 16px;
        gap: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      form {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;

        .inputContainer {
          gap: 0.8rem;

          label {
            font-size: 17px;
          }

          .profilePic{
            .detail{
              .right{
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;

                .profilePreview{
                  width: 5.5rem;
                  height: 5.5rem;
                }

                  .upload{
                    width: 100%;
                    height: 7.5rem;
                    margin-left: 0;
                  }
                
              }
            }
          }
        }

        .buttons {
          margin-top: 3.6rem;
        }
      }
    }
  }
}
