@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 1.3rem auto;
  padding-bottom: 50rem;
  height: 100%;

  h3 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 20px;
    line-height: 48px;
  }

  .card {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #d2d2d2;
    padding: 1.5rem 2rem;

    // Services
    .services {
      width: 100%;
      min-height: 174px;

      .cardService {
        background-color: #efefef;
        background-color: transparent;
        border: 1px solid #d7d6d6ee;
        border-radius: 10px;
        padding: 12px 15px;
        @include flexCenter;
        gap: 7px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.2s;

        .image {
          width: 40px;
          height: 40px;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
          }
        }

        p {
          font-size: 17px;
          font-weight: 400;
          color: #000000;
          line-height: 22px;
          width: calc(100% - 40px);
        }
      }

      .activeCard {
        background-color: $primary;
        transition: all 0.2s;

        p {
          color: #fff;
        }
      }
    }

    // Date Time
    .dateTimeWrapper {
      width: 100%;
      display: flex;
      gap: 1rem;

      .left {
        flex: 1;

        .formData {
          .inputContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin-bottom: 2rem;

            label {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              color: #3c3c3c;
            }
          }
        }
      }
      .right {
        flex: 1;
      }
    }

    // Customer Data
    .customerData {
      width: 100%;
      display: flex;
      gap: 1rem;

      .left {
        flex: 1;

        form {
          .customerCheckbox {
            display: flex;
            align-items: center;
            gap: 2px;
            margin-bottom: 0.9rem;

            p {
              font-size: 18px;
              color: #3c3c3c;
              font-weight: 400;
              line-height: 30px;
              margin: 0;
            }
          }

          .inputContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin-bottom: 2.3rem;

            label {
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              color: #3c3c3c;
            }

            input {
              width: 100%;
              height: 3rem;
              outline: none;
              border: 1px solid #dfdfdf;
              transition: all 0.2s;
              font-size: 19px;
              border-radius: 5px;
              padding-left: 0.9rem;

              &::placeholder {
                color: #555;
                font-size: 14px;
              }
            }

            .note {
              color: $textSecondary;
              font-size: 15px;
              font-weight: normal;
              margin-top: 1rem;
            }

            .errorSpan {
              font-size: 0.82rem;
              color: $error;
              margin-top: 1px;
            }
          }

          .button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-top: 2rem;
            gap: 1.6rem;

            button {
              background-color: $primary;
              color: #fff;
              width: 141px;
              height: 48px;
              @include flexCenter;
              outline: none;
              border: none;
              border-radius: 100px;
              font-size: 20px;
              font-weight: 400;
            }

            .backBtn {
              background-color: transparent;
              color: #151515;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (max-width: 980px) {
    & {
      .card {
        .customerData {
          .right {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    & {
      margin: 0.85rem auto;

      h3 {
        font-size: 1.3rem;
        line-height: 28px;
      }

      .card {
        padding: 1.5rem 0.8rem;

        .services {
          .cardService {
            margin-bottom: 15px;
            width: 94%;
          }
        }

        .dateTimeWrapper {
          flex-direction: column;

          .left {
            .formData {
              .inputContainer {
                margin-bottom: .9rem;
              }
            }
          }

          .right {
            display: none;
          }
        }

        .customerData {
          flex-direction: column;

          .left {
            form {
              .customerCheckbox {
                gap: 2px;
                margin-bottom: 1rem;
              }

              .inputContainer {
                gap: 4px;
                margin-bottom: 2rem;

                label {
                  font-size: 14px;
                  line-height: 23px;
                }

                input {
                  height: 2.8rem;
                  font-size: 15px;
                  padding-left: 0.8rem;

                  &::placeholder {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .right {
            display: none;
          }
        }
      }
    }
  }
}
