@import "../../styles/constants.scss";

.wrapper {
  width: 100%;
  margin: 0.6rem auto;
  margin-top: 0.4rem;
  padding-left: 0.4rem;

  .headingTop {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 30px;
      font-weight: 500;
    }

    .bottom {
      width: 100%;

      p {
        font-size: 23px;
        font-weight: 500;
        color: #3c3b3b;
      }
    }
  }
  
  @media (max-width: 768px) {
    &{
        padding-left: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;

        .headingTop{
            text-align: center;

            h1{
                font-size: 28px;
            }
        }
    }
  }

}
