@import "../../styles/constants.scss";

.wrapper {
  scrollbar-width: none;
  overflow: hidden;

  form {
    .inputContainer {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1.7rem;

      .errorSpan {
        font-size: 0.82rem;
        color: $error;
        margin-top: -8px;
      }

      label {
        font-size: 17px;
        font-weight: 500;
        color: #212121;
      }

      .input {
        position: relative;
        width: 100%;
      }
    }

    button {
      @include button($width: 100%, $height: 2.6rem);
      font-size: 17px;
      gap: 10px;
      margin-top: 2.5rem;
    }
  }

  @media (max-width: 768px) {
    & {
      form {
        .inputContainer {
          input{
            &::placeholder{
              font-size: 14px;
            }
          }
          label {
            font-size: 16px;
          }
        }
      }
    }
  }
}
